.jumbotron {
    background-color: #FFFFE5;
}

.block {
    display: block;
}

.header {
    color: #8E989E;
    font-family: 'Lobster';
    font-size: 50px;
}

.subtitle {
    padding-bottom: 20px;
}

.submit-button {
    background-color: #B2A1A1;
    border-color: #8C7E7E;
    margin-left: 5px;
}

.submit-button:hover, .submit-button:focus, .submit-button:active, .submit-button.active, .open>.dropdown-toggle.submit-button {
    color: #FFFFFF;
    background-color: #B8C4CC;
    border-color: #97A2A8;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
  
    display: flex;
    align-items: center;
}

.record-list {
    margin-top: 20px;
}

.red {
    color: rgb(124, 0, 0);
}